<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Accounts Initial</title>
	<style >
	
	.table {
		margin: auto;
		width: 50% !important; 
	}

	table th {
		text-align: center; 
	}

   </style>
</head>
<body>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/async/dist/async.min.js"></script>
	<script src="/js/acctinit.js"></script>
</body>
</html>